repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-json
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
    - id: mypy
      additional_dependencies: ["sqlmodel==0.0.31"]
      exclude: ^(tests?|migrations|venv|.venv)/
      files: \.py$
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.13
  hooks:
    - id: ruff
      args: [ --fix, --show-fixes ]
      exclude: ^(tests?|migrations|venv|.venv)/
    - id: ruff-format
- repo: https://github.com/PyCQA/bandit
  rev: 1.9.2
  hooks:
    - id: bandit
      exclude: ^(tests?|migrations|venv|.venv)/
      files: \.py$
