services:
  postgres:
    image: postgres:15-alpine
    container_name: fastapi-postgres
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
    - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB} -t 1" ]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 10s

  fastapi-app:
    container_name: fastapi-uvicorn-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./app/media:/twitter_clone/app/media
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
